/* general */

* {
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #333333;
    position: relative;
}

h1,
form {
    margin-top: 70px;
}

img {
    border-radius: 10px;
    width: 100%;
}

h1,
legend {
    text-align: center;
    text-shadow: #FFD7FF 2px 2px 1px;
}

/* nav bar format */
nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:auto;
    background-color: #FFD7FF;
    font-size: medium;
    box-shadow:#FF5193 0px 1px 2px;
}

nav a{
    text-decoration: none;
    color:#FF5193;
    font-weight: bold;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 3px;
}

nav li {
    display: inline-block;
    width: 23%;
    height: auto;
    vertical-align: middle;
    text-align: center;
}

nav a:hover{
    text-decoration: underline;
    text-shadow: white 1px 1px 1px;
    color: red;
}

/* profile format */

.profile h2 {
    background-color: #FFD7FF;
    border-radius: 5px;
    margin-bottom: 0;
    padding: 3px;
    text-align: center;
    box-shadow: #FF5193 1px 1px 1px;
}

.profile p,
.profile ul {
    font-size: large;
}

.profile p {
    margin: 5px 3%;
}

.profile ul {
    margin: 5px 3%;
    list-style-type: none;
}

.profile ul>li::before {
    content: "💖";
}

.profile img {
    box-shadow: #FF5193 1px 1px 1px;
}

.warning {
    text-align: center;
    font-size: larger;
    padding: 20px;
}

.warning em {
    font-weight: bolder;
    color: red;
}

/* gallery format */
.image {
    width: 550px;
    background-color: #FFD7FF;
    box-shadow: #FF5193 1px 1px 1px;
    border-radius: 10px;
    margin: 20px auto;
    align-items: center;
    font-size: large;
}

.image img{
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.caption {
    padding: 5px 20px 10px;
    margin: 0;
    text-align: center;
}

.image:hover{
    box-shadow: #FF5193 2px 2px 5px;
}

/* info format */

.links a {
    color:#FF5193;
    font-weight: bold;
}

.links li {
    padding-top: 10px;
}

.links {
    background-color: #FFD7FF;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px 5px 20px 0px;
    width: 550px;
    box-shadow: #FF5193 1px 1px 1px;
}

/* application format  */

form {
    width: 550px;
    margin: 70px auto;
}

fieldset {
    background-color: #FFD7FF;
    border-radius: 10px;
    border: none;
    box-shadow: #FF5193 1px 1px 1px;
    position: relative;
}

legend {
    font-size: xx-large;
    font-weight: bold;
    box-shadow: #FF5193 1px 1px 1px;
    background-color: white;
    padding: 0px 5px 3px;
    border-radius: 10px;
}

form div {
    padding: 5px;
    display: grid;
    grid-template-columns: 40% 55%;
    column-gap: 3%;
    height: 3em;
    text-align: right;
    width: 100%;
}

label {
    display: inline-block;
}

input {
    height: 1.5em;
    display: inline-block;
}

form p {
    text-align: center;
    margin: 20px 10px 0;
    position: relative;
    padding: 0;
    height: 1em;
    display: inline-block;
}

form .triple {
    /* grid-template-columns: 4% 25% 55%; */
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    height:auto;
}

.triple input {
    right: 0px;
}

#biography {
    height: 5em;
    display: block;
    position: relative;
}

.check {
    text-align: left;
    height: 1.5em;
    display: inline-block;
    margin: 0 20px;
}

button {
    position: relative;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    border:#FF5193 solid 1px;
}

button:hover {
    background-color: #FF5193;
}

/* responding to screen size */

@media screen and (max-width: 599px) {
    .image {
        width: auto;
        font-size: medium;
    }

    form,
    .links {
        width: auto;
    }
}
